<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div v-bind:title="message">
            鼠标移入
        </div>
        <p v-if="show">你可以看见我</p>
        <ul>
            <li v-for="item in list">
                {{item.name}}
            </li>
        </ul>
        <p>{{inputMessage}}</p>
        <button v-on:click="change">点击获取时间</button>
        <input type="text" v-model="input">
        <span>{{input}}</span>
        <ol>
            <todo-item v-for="item in list" v-bind:todo="item"></todo-item>
        </ol>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    // 放在最前面
    /**
    父——子间数据传递 通过props 创建接口
    1、子组件增加props:['属性名'] 用于接收变量
    2、在子组件通过v-bind:属性名="变量名" 绑定变量
    3、在子组件内部即可获得数据
    */
    Vue.component('todo-item', {
        props:['todo'],
        template: '<li>{{todo.name}}</li>'
    })
    var app = new Vue({
        el: "#app",
        data: {
            message: '现在是北京时间' + new Date().toLocaleString(),
            show: false,
            list: [
                { 'name': ' dior ' },
                { 'name': ' cannel' },
                { 'name': ' ysl ' }
            ],
            inputMessage: '',
            input: ''
        },
        methods: {
            change: function () {
                this.inputMessage = new Date().toLocaleString()
            }
        }
    })
  
</script>

</html>