<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <template v-if="ok">
            <h1>标题一</h1>
            <p>第一段</p>
            <p>第二段</p>
        </template>
        <div v-else>
            <h1>标题二</h1>
        </div>
        <div>
            <ul>
                <li v-for="(item, index) in list">{{index}} - {{item.message}}</li>
            </ul>
        </div>
        <div>
            <ul>
                <li v-for="(item, key, index) of obj">{{index}} - {{key}} : {{item}}</li>
            </ul>
        </div>
    </div>

    <div id="todoList">
        <div>
            <input type="text" v-model="addList">
            <button @click="add()" :disabled="canAdd">add</button>
        </div>
        <ul>
            <li v-for="(item, index) in list">
                {{item}}
                <button @click="remove(index)">remove</button>
            </li>
        </ul>
    </div>

    demo中的TODOlist
    <div id="todo-list-demo">
        <form v-on:submit.prevent="addNewTodo">
            <label for="new-todo">Add a todo</label>
            <input type="text" v-model="newTodoText">
            <button :disabled="canAdd">add</button>
        </form>
        <ul>
            <li is="todo-item" v-for="(todo, index) in todos" v-bind:key="todo.id" v-bind:title="todo.title" v-on:remove="todos.splice(index,1)"></li>
        </ul>
    </div>
    <!-- 为了防止if-else中的元素被复用，在对应元素上加上key值 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        /**
            v-show v-if区别：
            1、v-show 始终渲染元素 用display进行切换
            2、v-show 不支持v-else 语法 
        */
        /*
            v-for
            1、遍历数组 （item,index）
            2、遍历对象 （item,key,index）
            3、为了跟踪元素 可以给元素绑定:key属性
            由于 JavaScript 的限制，Vue 不能检测以下变动的数组：
            当你利用索引直接设置一个项时，例如：vm.items[indexOfItem] = newValue
            当你修改数组的长度时，例如：vm.items.length = newLength
            4、了解决第一类问题，以下两种方式都可以实现和 vm.items[indexOfItem] = newValue
            Vue.set(vm.items, indexOfItem, newValue)
            vm.items.splice(indexOfItem, 1, newValue)
            Vue.set(object, key, value) 方法向嵌套对象添加响应式属性
        */
        var app = new Vue({
            el: '#app',
            data: {
                ok: false,
                list: [
                    { message: 'lv' },
                    { message: 'ysl' }
                ],
                obj: {
                    name: 'kate',
                    age: '20',
                    like: 'singing'
                }

            }
        })
        // app.b = 'b'
        // Vue.set(app.b,'b')
        var todo = new Vue({
            el: '#todoList',
            data: {
                addList: '',
                canAdd: this.addList,
                list: [
                    'singing',
                    'reading',
                    'eating'
                ],

            },
            methods: {
                add: function () {
                    this.list.push(this.addList);
                },
                remove: function (index) {
                    this.list.splice(this.list[index], 1)
                }
            }
        })

        /**
            使用is绑定组件
            子组件触发父组件的事件 $emit(事件名)
        */
        Vue.component('todo-item',{
            template: `<li>
                {{title}}
                <button v-on:click="$emit('remove')">Remove</button>
                </li>`,
            props: ['title']
        })
        var demo = new Vue({
            el: '#todo-list-demo',
            data: {
                newTodoText: '',
                todos: [
                    {
                        id: 1,
                        title: 'Do the dishes',
                    },
                    {
                        id: 2,
                        title: 'Take out the trash',
                    },
                    {
                        id: 3,
                        title: 'Mow the lawn'
                    }
                ],
                nextTodoId: 4
            },
            computed:{
                canAdd:function(){
                    if(this.newTodoText){
                        return false
                    }else{
                        return true;
                    }
                }
            },
            methods:{
                addNewTodo:function(){
                    this.todos.push({
                        id:this.nextTodoId++,
                        title:this.newTodoText
                    })
                    this.newTodoText = ''
                }
            }
        })
    </script>
</body>

</html>